* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #fff;
	font-family: 'Monda', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

h1 {
	font-size:36px;
	background-image: url('../images/titlebg.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-bottom:5px;
}

a {
	color: #999;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #333;
	}

h1,
h2 {
	font-size: 24px;
}

h1 a {
	color: #666;
	font-size: 26px;
}

/**
 * Navigation
 */

#navigation {
	background-color: #fff;
	padding-bottom: 20px;
	max-width: 100%;
}

#navigation ul {
	margin-left: 100px;
}

#navigation ul,
#navigation ul li {
 display: inline;
}

#navigation ul li {
 margin-right: 10px;
 padding: 5px 10px 5px 10px;
 border-left: 1px solid #666;
 border-right: 1px solid #666;
 border-bottom: 1px solid #666;
}

/**
 * Main contents area
 */
.contents {
	background: #fff;
	padding: 40px 100px;
	max-width: 100%;
	height: 100%;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.contents>article {
		max-width: 900px;
	}
	.contents p {
		margin: 10px 0 10px 0;
		font-size: 16px;
		line-height: 1.32;
	}
	.contents small {
		display: block;
		margin-top: 10px;
		padding-top: 10px;
		color: #333;
		font-size: 0.85em;
		border-top: 1px dashed #ccc;

		-webkit-text-size-adjust: none;
	}
	.contents .sharing {
		position: absolute;
		bottom: 20px;
	}


	article h2 {
		margin-bottom:5px;
		margin-top:20px;
	}

	div.work {
		margin-top:20px;
	}

	div.workitem {
		min-height:125px;
		margin-bottom:40px
	}

	div.workitem img {
		float:left;
		box-shadow: 1px 1px 3px #ccc;
		width:125px;
		height:125px;
	}

	div.workwords {
		margin-left:140px;
	}

	#simple-menu {
		font-weight: bold;
		color: #000;
	}


@media only screen and (min-width : 320px) and (max-width : 768px) {
	body {
		width: 100%;
	}

	/**
	 * Navigation
	 */

	#navigation {
		background-color: #fff;
		padding-bottom: 20px;
		max-width: 100%;
	}

	#navigation ul {
		margin-left: 0px;
	}

	#navigation ul,
	#navigation ul li {
	 display: block;
	 width: 99%
	}

	#navigation ul li {
	 margin-right: 10px;
	 padding: 5px 10px 5px 10px;
	 border-left: 0px solid #666;
	 border-right: 1px solid #666;
	 border-bottom: 1px solid #666;
	}

	.contents {
		padding: 5px;
	}

	div.work {
		margin-top:20px;
	}

	div.workitem {
		min-height:125px;
		margin-bottom:40px
	}

	div.workitem img {
		float:none;
		box-shadow: 1px 1px 3px #ccc;
		max-width:100%;
		width: 400px;
		height: auto;
	}

	div.workwords {
		margin-left:0px;
	}


}
@media only screen and (min-width : 480px) and (max-width : 595px) {/*--- Mobile landscape ---*/}
@media only screen and (min-width : 595px) and (max-width : 690px) {/*--- Small tablet portrait ---*/}
@media only screen and (min-width : 690px) and (max-width : 800px) {/*--- Tablet portrait ---*/}
@media only screen and (min-width : 800px) and (max-width : 1024px) {/*--- Small tablet landscape ---*/}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {/*--- Tablet landscape --- */}
